


body{
    background-color: #131f36;
   font-family: "VT323";
    color:white;
    animation-name: start;
    animation-duration: .5s;
    
    

}
html{
    scroll-behavior:smooth;
}
#start{
    color: white;
}
.start{
    border-style: groove;
    border-radius: 5;
    box-shadow: 5px 5px 10px white;
    background-color:darkgray;
    border-width: 10px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    max-width: 60%
}

    



    
.title{
    border-style: ridge;
    border-radius: 5px;
    box-shadow: 5px 5px 10px white;
    background-color: rgba(206, 85, 85, 0.558);
    border-width: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    width:300px;
    border-color: white;


}
div {
    display: flex;
    align-items: center;
  }
.title:hover{
    animation-name: hover;
    animation-duration: .10s;
    animation-direction:normal;
    animation-fill-mode: forwards;
   
    
}

.text{
    color:white;
    font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:250px;
    

}

a{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: center;
    text-decoration: none;
    color: white;
}
.social{
    height: 50px;
    border-style: double;
    background-color: black;
    text-align: center;
    border-width: 10px;
    margin-left: auto;
    margin-right: auto;
    

}


h2{
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
#social-1{
    background-color:black;
   
}


#social-1:active{
    animation-name:"fade";
    animation-duration:.1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
#social-2{
    background-color: rgb(35, 87, 52);
}
#social-3{
    background-color: rgb(40, 35, 87);
}
#social-4{
    background-color: rgb(141, 74, 96)
    
}
table{
    border-spacing: 30px;
    margin-left: auto;
    margin-right: auto;
}
@keyframes start{
        0% {opacity: 0;}
        100% {opacity: 1;}
}
@keyframes hover{
    0%{translate: 0px;}
    100% {translate:0px -15px; box-shadow:10px 10px 10px; filter: brightness(2);}
}
@keyframes click{
    0%{transform: scale(1);}
    100%{transform: scale(1.5);}
}
@keyframes fade{
    100%{background-color: rgb(182, 151, 211);}
}

